<%= form_for([@prefecture, @prefecture.cities.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :yomi %><br />
    <%= f.text_field :yomi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
