<p>
  <b>Name:</b>
  <%= station.name %>
</p>
 
<p>
  <b>Yomi:</b>
  <%= station.yomi %>
</p>

<p>
  <b>Line:</b>
  <%= station.line %>
</p>

<p>
  <b>Lat:</b>
  <%= station.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= station.lng %>
</p>

<p>
  <%= link_to 'Destroy City', [station.prefecture, station],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>