<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Place</th>
    <th>Budget</th>
    <th>Genre</th>
    <th>Shop</th>
    <th>Comment</th>
    <th>Canceled</th>
    <th>User</th>
    <th>Preevent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.date %></td>
    <td><%= event.place %></td>
    <td><%= event.budget %></td>
    <td><%= event.genre %></td>
    <td><%= event.shop %></td>
    <td><%= event.comment %></td>
    <td><%= event.canceled %></td>
    <td><%= event.user %></td>
    <td><%= event.preEvent %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
